header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 10;
}

.square a {
  color: black;
}

.square {
  display: inline-flex;
  flex-wrap: wrap;
  align-self: center;
  padding-left: 50px;

}

.logo {
  display: flex;
  position: relative;
  color: MediumAquamarine;
  padding: 5px 10px 5px 25px;
  border: 1px solid black;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.large {
  border: 1px solid black;
  align-content: flex-start;
  position: relative;
  top: 100px;
  width: 630px;
}

h3 .large {
  font-weight: bold;
  align-self: flex-start;
}
