header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  z-index: 10;
  align-items: center;
}

body {
  margin: 0px !important;
}

a {
  color: black;
}

header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  border: 1px solid black;
  margin-bottom: 5px;
  padding-left: 30px;
  margin-right: 12px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  justify-content: flex-end;
}

.large {
  border: 1px solid black;
  align-content: center;
  position: relative;
  top: 100px;
  width: 630px;
}

h2 {
  font-weight: bold;
  align-self: flex-start;
}

.box {
  border: 1px solid black;
  margin: 0px;
}

#box {
  margin: 0px;
  border-bottom: 1px solid black;
}
